@model SafeSurroundings.Models.HomeViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/GeneralStyle.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(RedirecttoPlaces);

    function RedirecttoPlaces() {
        var links = $("#tdLink");
        links.click(function () {
            window.location.href = "@Url.Action("Index","Places")";
        });
    };


</script>

<div class="container">
    <div class="container active" style="width:auto">
        <div class="container">
            <div id="homeCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="homeCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="homeCarousel" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/testImgSS.jpg" style="height:200px; width:max-content" />
                        <div class="carousel-caption">
                            <h2>Test 1</h2>
                            <p>Just Checking</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Images/testImage2SS.jpg" style="height:200px; width:max-content" />
                        <div class="carousel-caption">
                            <h2>Test 2</h2>
                            <p>Just Checking again</p>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#homeCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>


                </div>

            </div>

            <table class="table table-hover col-lg-1 roundedBorder tableStyle_green" style="color:black;">
                <thead>

                    <tr>
                        @if (Model != null)
                        {
                        <tr>

                            <th align="center">Welcome @Model.DisplayName</th>
                        </tr>
                        <tr></tr>
                        <tr>
                            @if (Model.ListofMeetups.Any())
                            {
                                <th style="border:hidden" align="center">Your Schedule for Today: (@DateTime.Now.DayOfWeek) @DateTime.Now.ToString("MM/dd/yyyy")</th>
                            }
                            else
                            {
                                <th style="border:hidden" align="center">You are free today!</th>
                            }
                        </tr>
                    }
                        <tr>
                        </tr>
                    </thead>
                </table>
            
            <table class="table table-hover col-lg-pull-3 roundedBorder tableStyle_green" style="color:black;">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Day</th>
                            <th>Time</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if ((Model.ListofMeetups != null) && (Model.ListofMeetups.Any()))
                        {
                            foreach (var meetups in Model.ListofMeetups)
                            {
                                <tr>
                                    <td>
                                        @meetups.PlaceName
                                    </td>
                                    <td>
                                        @Model.FormatDate(meetups.MeetTime)
                                    </td>
                                    <td>
                                        @Model.FormatTime(meetups.MeetTime)
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>

            <div class="container">
                <div class="btn-group btn-group-lg" role="button">
                    <input type="button" class="btn btn-success" value="Meetups" onclick="location.href='@Url.Action("Index", "MeetUp")'" />
                    <input type="button" class="btn btn-success" value="Places" onclick="location.href='@Url.Action("Index", "Places")'" />
                    <input type="button" class="btn btn-success" value="My Profile" onclick="location.href='@Url.Action("Index", "Profile")'" />
                    <input type="button" class="btn btn-warning" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" />
                </div>
            </div>
        </div>
    </div>
