@model SafeSurroundings.Models.HomeViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(RedirecttoPlaces);

    function RedirecttoPlaces() {
        var links = $("#tdLink");
        links.click(function () {
            window.location.href = "@Url.Action("Index","Places")";
        });
    };


</script>
<div class="container active">
    <div class="container">
        <table class="table table-hover col-lg-1" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    @if (Model != null)
                    {
                        <th align="center">Welcome @Model.DisplayName</th>
                    }
                </tr>
                <tr>
                </tr>
            </thead>
        </table>
    </div>

    <div class="container">
        <table class="table table-hover  col-lg-pull-3" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Day</th>
                    <th>Time</th>
                </tr>
            </thead>


            <tbody>
                @if ((Model.ListofMeetups != null) && (Model.ListofMeetups.Any()))
                {
                    foreach (var meetups in Model.ListofMeetups)
                    {
                        <tr>
                            <td>
                                @meetups.PlaceName
                            </td>
                            <td>
                                @Model.FormatDate(meetups.MeetTime)
                            </td>
                            <td>
                                @Model.FormatTime(meetups.MeetTime)
                            </td>
                        </tr>

                    }
                }

            </tbody>
        </table>
        <div class="btn-group btn-group-lg" role="button">
            <input type="button" class="btn btn-success" value="Meetups" onclick="location.href='@Url.Action("Index", "MeetUp")'" />
            <input type="button" class="btn btn-success" value="Places" onclick="location.href='@Url.Action("Index", "Places")'" />
            <input type="button" class="btn btn-warning" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" />
        </div>
    </div>
</div>
