@model SafeSurroundings.Models.HomeViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/GeneralStyle.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(RedirecttoPlaces);

    function RedirecttoPlaces() {
        var links = $("#tdLink");
        links.click(function () {
            window.location.href = "@Url.Action("Index","Places")";
        });
    };


</script>

<div class="container">
    <div class="container active" style="width:auto">
        <div class="container">
            @{
                Html.RenderPartial("_PictureSlides");
            }
            <table class="table table-hover col-lg-1 roundedBorder tableStyle_purple">
                <thead>

                    <tr>
                        @if (Model != null)
                        {
                        <tr>

                            <th align="center">Welcome @Model.DisplayName</th>
                        </tr>
                        <tr></tr>
                        <tr>
                            @if (Model.ListofMeetups.Any())
                            {
                                <th style="border:hidden" align="center">Your Schedule for Today: (@DateTime.Now.DayOfWeek) @DateTime.Now.ToString("MM/dd/yyyy")</th>
                            }
                            else
                            {
                                <th style="border:hidden" align="center">You are free today!</th>
                            }
                        </tr>
                    }
                        <tr>
                        </tr>
                    </thead>
                </table>

                <table class="table table-hover col-lg-pull-3 roundedBorder tableStyle_purple">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Day</th>
                            <th>Time</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if ((Model.ListofMeetups != null) && (Model.ListofMeetups.Any()))
                        {
                            foreach (var meetups in Model.ListofMeetups)
                            {
                                <tr>
                                    <td>
                                        @meetups.PlaceName
                                    </td>
                                    <td>
                                        @Model.FormatDate(meetups.MeetTime)
                                    </td>
                                    <td>
                                        @Model.FormatTime(meetups.MeetTime)
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>

            <div class="container">
                <div class="btn-group btn-group-lg" role="button">
                    <input type="button" class="btn buttons" value="Meetups" onclick="location.href='@Url.Action("Index", "MeetUp")'" />
                    <input type="button" class="btn buttons" value="Places" onclick="location.href='@Url.Action("Index", "Places")'" />
                    <input type="button" class="btn buttons" value="My Profile" onclick="location.href='@Url.Action("Index", "Profile")'" />
                    <input type="button" class="btn btn-warning" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" />
                </div>
            </div>
        </div>
    </div>
