@model SafeSurroundings.Models.PlacesViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(RedirecttoHomePage);

    function RedirecttoHomePage() {
        var links = $("#tdLink");
        links.click(function () {
            window.location.href = "@Url.Action("HomePage","Home")";
        });
    };


</script>
<div class="container active">
    <div class="container">
        <table class="table table-hover col-lg-1" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    <th align="center">Your Schedule MeetUps</th>
                </tr>
                <tr>
                </tr>
            </thead>
        </table>
    </div>

    <div class="container">
        <table class="table table-hover  col-lg-pull-3" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Open Hour</th>
                    <th>Close Hour</th>
                </tr>
            </thead>

            <tbody>
                @if ((Model.ListofAllPlaces != null) && (Model.ListofAllPlaces.Count > 0))
                {
                    foreach (var places in Model.ListofAllPlaces)
                    {
                        <tr>
                            <td>@places.Name</td>
                            <td>@places.OpenHour</td>
                            <td>@places.CloseHour</td>
                        </tr>
                    }

                }

                <tr>
                    <td colspan="3" id="tdLink" data-toggle="tooltip" title ="Go to Home"  align="center" style="color:darkgreen">
                       @* @Html.ActionLink("Home", "HomePage", "Home")*@
                        Home
                    </td>
                </tr>
            </tbody>
        </table>

        @*@if ((Session.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGUID"]))))
            {
                @Html.ActionLink("Add", "AddScore")
            }*@

    </div>
</div>
