@model SafeSurroundings.Models.PlacesViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(RedirecttoHomePage);

    function RedirecttoHomePage() {
        var links = $("#tdLink");
        var linktoAdd = $("#tdAdd");
        links.click(function () {
            window.location.href = "@Url.Action("HomePage","Home")";
        });

        linktoAdd.click(function () {
            window.location.href = "@Url.Action("AddPlace","Places")";
        });
    };

    

</script>
<div class="container active">
    <div class="container">
        <table class="table table-hover col-lg-1" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    <th align="center">Places to Meet</th>
                </tr>
                <tr>
                </tr>
            </thead>
        </table>
    </div>

    <div class="container">
        <table class="table table-hover  col-lg-pull-3" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Open Hour</th>
                    <th>Close Hour</th>
                </tr>
            </thead>

            <tbody>
                @if ((Model.ListofAllPlaces != null) && (Model.ListofAllPlaces.Count > 0))
                {
                    foreach (var places in Model.ListofAllPlaces)
                    {
                        <tr id="PlaceEntry">
                            <td>@places.Name</td>
                            <td>@places.OpenHour.ToShortTimeString()</td>
                            <td>@places.CloseHour.ToShortTimeString()</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
        <input type="button" class="btn btn-info" value="Add a New Place" onclick="location.href='@Url.Action("AddPlace", "Places")'" />

        @*@if ((Session.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGUID"]))))
        {
            @Html.ActionLink("Add", "AddScore")
        }*@

    </div>
</div>
