@model SafeSurroundings.Models.PlacesViewModel
<link href="~/Content/GeneralStyle.css" rel="stylesheet" />
    <div class="container active"> 
        <div class="container">
            @{
                Html.RenderPartial("_PictureSlides");
            }
            <table class="table table-hover col-lg-pull-3 tableStyle_blue roundedBorder">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Open Hour</th>
                        <th>Close Hour</th>
                        <th>Safety Rating</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    @if ((Model.ListofAllPlaces != null) && (Model.ListofAllPlaces.Count > 0))
                    {
                        foreach (var places in Model.ListofAllPlaces)
                        {
                            <tr class="PlaceList" data-place-id="@places.ID">
                                <td>@places.Name</td>
                                <td>@places.OpenHour.ToShortTimeString()</td>
                                <td>@places.CloseHour.ToShortTimeString()</td>
                                <td>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < places.Safety.Average(r => r))
                                        {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        }
                                    }
                                    @Model.GetSafetyName(places).Replace("_", " ")
                                </td>
                                <td>
                                    @if ((Session.Keys.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGuid"]))))
                                    {
                                        <input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit", "Places", new {EditID=places.ID})'" />
                                    } 
                                </td> 
                                </tr>
                        }

                    }
                </tbody>
            </table>

            <div class="test">

            </div>
            <div class="btn-group btn-group-lg" role="button">
                <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
                @if ((Session.Keys.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGuid"]))))
                {
                    <input type="button" class="btn buttons" value="Add a New Place" onclick="location.href='@Url.Action("Add", "Places")'" />
                }
                </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <table class="table table-hover col-lg-1 tableStyle_blue roundedBorder">
                        <tr>
                            <th align="center">Meetups Happening Here</th>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </div>
                <div class="modal-body">

                    <table class="table table-hover col-lg-pull-3 tableStyle_blue roundedBorder" id=" tblPlacesModal">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Meeting Time</th>
                            </tr>
                        </thead>

                        <tbody id="tblPlacesModal">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script type="text/javascript">

    $(document).ready(LoadDetailsInModal());

    function LoadDetailsInModal() {
        var links = $(".PlaceList");

        links.click(function () {
            var selectedID = $(this).data("place-id");
            console.log("Selected ID: " + selectedID);
            $.ajax({
                async: true,
                url: "@Url.Action("GetMeetUpByPlaceID", "Places")",
                data: { PlaceID: selectedID},
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    var tableBody = $("#tblPlacesModal");
                    var trResponse = "";
                     var jResponse = $.parseJSON(data);
                    $.each(jResponse, function (indx, dataResponse) {
                        trResponse += " <tr><td>" + dataResponse.PlaceName + "</td><td>"
                            + moment(dataResponse.MeetTime).format("MM/DD/YYYY hh:mm a") + "</td></tr>";
                        //console.log(dataResponse.PlaceName);
                    });
                   $(tableBody).html(trResponse);
                    //console.log("Full Data: " + $.parseJSON(data));
                    //console.log(trResponse);
                    $("#exampleModal").modal("show");
                },
                error: function (errorMessage) {alert("Fetching meetups unsuccessful!")}
            })
        });
 };

</script>