@model SafeSurroundings.Models.ProfileViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="container active">
    <div class="container">
        <table class="table table-hover col-lg-1" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    @if (Model != null)
                    {
                        <th align="center">Hello @Model.DisplayName</th>
                    }
                </tr>
            </thead>
        </table>
    </div>

    <div class="container">
        <table class="table table-hover  col-lg-pull-3" style="background-color:rgb(52, 235, 177);color:black">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>IsTwoFactor</th>
                    <th>IsSubscribed</th>
                    <th>Last Login Date</th>
                    <th>Last Login Device</th>
                </tr>
            </thead>

            <tbody id="tbMeetUps">
                @if ((Model != null))
                { 
                <tr class="Meetup" data-meetup-id="@Model.ProfileID">
                    <td>@Model.UserName</td>
                    <td>@Model.ConvertBooleantoDisplay(Model.IsTwoFactor)</td>
                    <td>@Model.ConvertBooleantoDisplay(Model.IsSubscribed)</td>
                    <td>@Model.LastLogin</td>
                    <td>@Model.LastLoginDevice</td>
                    <td>
                        <input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit","Profile",new {EditID=Model.ProfileID})'" />
                        @*<input type="button" id="btnDanger" class="evtDelete btn btn-danger" value="Delete" />*@
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <table class="table table-hover col-lg-1" style="background-color:rgb(52, 235, 177);color:black">
                    <thead>
                        <tr>
                            <th align="center">Profile Details</th>
                        </tr>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-body">

                <table class="table table-hover  id=" tblPlacesModal" col-lg-pull-3" style="background-color:rgb(52, 235, 177);color:black">
                    <thead>
                        <tr>
                            <th>Name</th> 
                        </tr>
                    </thead>

                    <tbody id="tblPlacesModal">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script type="text/javascript">
    //Save for future branch
    @*$(document).ready(LoadDetailsInModal());
       
    function LoadDetailsInModal() {
        var links = $(".Meetup") .not(":button");

        links.click(function () {
            var selectedID = $(this).data("meetup-id");
            console.log("Selected ID: " + selectedID);
            $.ajax({
                async: true,
                url: "@Url.Action("GetProfileDetails", "Profile")",
                data: { ID: selectedID},
                type: "GET",
                dataType: "JSON"
            })
                .done(function (data) {
                    var tableBody = $("#tblPlacesModal");
                    var trResponse = "";
                    var jResponse = $.parseJSON(data);
                    $.each(jResponse, function (indx, dataResponse) {
                        trResponse += " <tr><td>" + dataResponse.DisplayName + "</td><td>"
                             + "</td>" +
                            "<td>" +
                            "</td>" + "</tr>";
                     });
                    $(tableBody).html(trResponse);
                    console.log("Full Data: " + $.parseJSON(data));
                    console.log(trResponse);
                    $("#exampleModal").modal("show");
                })
                .fail(function (errorMessage) { alert("Fetching profile details unsuccessful!") })
        });
    };*@

</script>
