@model SafeSurroundings.Models.ProfileViewModel
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/GeneralStyle.css" rel="stylesheet" />

<div class="container active">
    <div class="container">
        <table class="table table-hover col-lg-1 tableStyle_blue roundedBorder">
            <tr>
                @if (Model != null)
                {
                    <th style="text-align:center">Edit @Model.DisplayName's Profile</th>
                }
            </tr>
        </table>
    </div>

    <div class="container-fluid" style="overflow:auto">
        <table class="table table-responsive col-md-push-4 table_purple_forLarge roundedBorder" >
            <thead>
                <tr>
                    <th>Update Avatar</th>
                    <th>User Name</th>
                    <th>Two-Factor Enabled</th>
                    <th>Subscribed</th>
                    <th>Last Login Date</th>
                    <th>Last Login Device</th>
                    <th> </th>
                </tr>
            </thead>

            <tbody id="tbMeetUps">
                @if ((Model != null))
                {
                    <tr class="Meetup" data-meetup-id="@Model.ProfileID">
                        <td class="col-md-2">
                            <div class="container-fluid" style="overflow:auto">
                                @using (Html.BeginForm("UploadAvatar", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        @Html.TextBox("NewAvatar", "", new { type = "file" })
                                        <input type="submit" accept="image/*" value="Upload" />
                                    </div>
                                }
                            </div>
                        </td>
                        <td>@Model.UserName</td>
                        <td>@Model.ConvertBooleantoDisplay(Model.IsTwoFactor)</td>
                        <td>@Model.ConvertBooleantoDisplay(Model.IsSubscribed)</td>
                        <td>@Model.LastLogin</td>
                        <td>@Model.LastLoginDevice</td>
                        <td>
                            <input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit","Profile",new {EditID=Model.ProfileID})'" />
                            @*<input type="button" id="btnDanger" class="evtDelete btn btn-danger" value="Delete" />*@
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tableStyle_blue roundedBorder">
            <div class="modal-header">
                <table class="table table-hover col-lg-1 ">
                    <thead>
                        <tr>
                            <th align="center">Profile Details</th>
                        </tr>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-body">

                <table class="table table-hover  id=" tblPlacesModal" col-lg-pull-3">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>

                    <tbody id="tblPlacesModal">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<script type="text/javascript">
    $(document).ready( );

        @*function PostAvatar() {
            var links = $("#btnUploadAvatar");
            links.click(function () {
                event.preventDefault();
                var formData = new FormData($("#avatarForm"));
                var selectedID = $(this).data("profile-id");
                console.log("Selected ID: " + selectedID);
                $.ajax({
                    async: true,
                    url: "@Url.Action("UploadAvatar", "Profile")",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        console.log("Sucess Upload Image");

                    },
                    error: function (errorMessage) {alert("Unsuccessful image upload")}
                })
            })
        }*@
        //click event to call image to bytes function

    //Save for future branch
    @*$(document).ready(LoadDetailsInModal());

    function LoadDetailsInModal() {
        var links = $(".Meetup") .not(":button");

        links.click(function () {
            var selectedID = $(this).data("meetup-id");
            console.log("Selected ID: " + selectedID);
            $.ajax({
                async: true,
                url: "@Url.Action("GetProfileDetails", "Profile")",
                data: { ID: selectedID},
                type: "GET",
                dataType: "JSON"
            })
                .done(function (data) {
                    var tableBody = $("#tblPlacesModal");
                    var trResponse = "";
                    var jResponse = $.parseJSON(data);
                    $.each(jResponse, function (indx, dataResponse) {
                        trResponse += " <tr><td>" + dataResponse.DisplayName + "</td><td>"
                             + "</td>" +
                            "<td>" +
                            "</td>" + "</tr>";
                     });
                    $(tableBody).html(trResponse);
                    console.log("Full Data: " + $.parseJSON(data));
                    console.log(trResponse);
                    $("#exampleModal").modal("show");
                })
                .fail(function (errorMessage) { alert("Fetching profile details unsuccessful!") })
        });
    };*@

</script>
